#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.customButton{
    box-shadow: 1px 1px;
    margin-top: 4px;
    background: #ffc409;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    color: blank;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-flow: row nowrap;
    height: 36px;
    font-family: inherit;
    font-size: inherit;
}